<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie recommender</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <!--<h2>Movies</h2>-->

    <nav class="navbar navbar-default navbar-inverse" role="navigation">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="discover">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="2017-03-06">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>-->
    <table id="movies_table" class="table table-bordred table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>TMDB Rating</th>
            <th>IMDB Rating</th>
            <th>IMDB Url</th>
        </tr>
        </thead>
        <tbody>

        {% for movie in movies %}
        <tr>
            <td><b>{{movie.title|safe}}</b></td>
            <td>{{movie.description|safe}}</td>
            <td>{{movie.tmdb_rating|safe}}</td>
            <td>{{movie.imdb_rating|safe}}</td>
            <td><a href="{{movie.imdb_url|safe}}">imdb link</a></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>
